.click{
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
    padding: .9rem 1.4rem;
    background: lighten($secondary,10);
    display: inline-block;
    border: none;
    outline: none;
    border-radius: .5rem;
    font-weight: 500;
    cursor: pointer;
}