footer{
    background: lighten($primary,5);
    border-top: 5px solid $secondary;
    div{
        max-width: 1100px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        padding: 5rem 3rem;
        align-items: center;
        border-bottom: 1.3px solid $secondary;

        p{
            max-width: 450px;
            font-size: .8rem;
            color: #fff;
            line-height: 200%;

            .logo{
                color: $secondary;
                text-decoration: none;
                font-weight: 500;
                font-size: 1.2rem;
            }
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: .8rem;

            a{
                text-decoration: none;
                font-size: .75rem;
                color: #fff;
                
                &:hover{
                    color: $secondary;
                }
            }

        }
    }

    p.copy{
        width: max-content;
        position: relative;left: 50%;
        transform: translateX(-50%);
        padding: 2rem 0;
        font-size: .8rem;
        color: $secondary;
    }
}