header{
    // height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 .2rem #00000073;
    z-index: 10;
    
    &>div{
        position: relative;
        background: #fff;
        height: 30px;
        display: flex;
        align-items: center;
        padding: 0 3rem;
        justify-content: space-between;

        ul{
            display: flex;
            gap: 1.5rem;

            a{
                text-decoration: none;
                color: grey;
                font-size: .7rem;
            }
        }
    }
    
    nav{
        background: $primary;
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        height: 100%;
        align-items: center;
        padding: 1rem 2rem;
        height: 60px;

        .logo{
            color: $secondary;
            text-decoration: none;
            font-weight: 500;
            font-size: 1.2rem;
        }

        ul{
            display: flex;
            gap: 1.5rem;
            align-self: flex-end;

            a{
                text-decoration: none;
                font-size: .8rem;
                color: #fff;

                &:hover{
                    color: $secondary;
                }

                svg{
                    font-size: 1rem;
                }
            }
        }
    }
}