@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4509803922);
  z-index: 10;
}
header > div {
  position: relative;
  background: #fff;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  justify-content: space-between;
}
header > div ul {
  display: flex;
  gap: 1.5rem;
}
header > div ul a {
  text-decoration: none;
  color: grey;
  font-size: 0.7rem;
}
header nav {
  background: rgb(43, 43, 43);
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  height: 100%;
  align-items: center;
  padding: 1rem 2rem;
  height: 60px;
}
header nav .logo {
  color: rgb(231, 175, 33);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
}
header nav .search {
  position: relative;
  display: flex;
  border-radius: 0.2rem;
  overflow: hidden;
}
header nav .search input {
  border: none;
  outline: none;
  padding: 0.3rem;
}
header nav .search span {
  background: rgb(231, 175, 33);
  padding: 0.55rem;
  position: relative;
  width: 2.3rem;
}
header nav .search span svg {
  color: #fff;
  font-size: 0.9rem;
}
header nav ul {
  display: flex;
  gap: 1.5rem;
  align-self: flex-end;
}
header nav ul a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #fff;
}
header nav ul a:hover {
  color: rgb(231, 175, 33);
}
header nav ul a svg {
  font-size: 1rem;
}

#hero {
  padding: 7.5rem 4rem;
  background: lightgrey;
  position: relative;
}
#hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}
#hero > div {
  z-index: 1;
  position: relative;
}
#hero h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}
#hero p {
  color: #edc358;
  font-size: 1.1rem;
  padding: 1rem 0;
  max-width: 550px;
}

#about {
  background: lightgrey;
  padding: 3rem 0;
  position: relative;
}
#about img {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}
#about p {
  text-align: center;
  color: #fff;
  line-height: 200%;
}
#about p a {
  margin-top: 1.5rem;
}

.click {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.9rem 1.4rem;
  background: #ecc04f;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
}

#products .productgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 1rem;
}
#products .productgrid .product .image {
  background: lightgrey;
  height: 10rem;
  position: relative;
}
#products .productgrid .product .details {
  padding: 0.5rem 0;
}
#products .productgrid .product .details .name {
  color: rgb(231, 175, 33);
  font-size: 0.9rem;
}
#products .productgrid .product .details .price {
  font-size: 0.85rem;
  color: grey;
  padding: 0.4rem 0;
}
#products .productgrid .product .details .click {
  transform: scale(0.85);
  transform-origin: 0;
}

main {
  min-height: 100vh;
  padding-bottom: 4rem;
}
main .page {
  max-width: 1100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 4rem 2rem;
}
main .page .heading {
  padding: 0.7rem 0;
  font-size: 1.6rem;
  color: #eabb41;
  font-weight: 600;
}
main .page .subheading {
  color: grey;
  font-size: 1rem;
  padding-bottom: 2rem;
}

footer {
  background: #383838;
  border-top: 5px solid rgb(231, 175, 33);
}
footer div {
  max-width: 1100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  padding: 5rem 3rem;
  align-items: center;
  border-bottom: 1.3px solid rgb(231, 175, 33);
}
footer div p {
  max-width: 450px;
  font-size: 0.8rem;
  color: #fff;
  line-height: 200%;
}
footer div p .logo {
  color: rgb(231, 175, 33);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
}
footer div ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
footer div ul a {
  text-decoration: none;
  font-size: 0.75rem;
  color: #fff;
}
footer div ul a:hover {
  color: rgb(231, 175, 33);
}
footer p.copy {
  width: -moz-max-content;
  width: max-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 0;
  font-size: 0.8rem;
  color: rgb(231, 175, 33);
}/*# sourceMappingURL=globals.css.map */